html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: transparent;
  min-width: 320px; }

h1 {
  font: 70px/1.3 "Oswald", Helvetica, sans-serif; }

h2 {
  font: 40px/1.3 "Oswald", Helvetica, sans-serif; }

h3 {
  font: 20px/1.3 "Oswald", Helvetica, sans-serif; }

h4 {
  font: 18px/1.3 "Oswald", Helvetica, sans-serif;
  text-transform: uppercase; }

p {
  font: 16px/1.3 "Roboto", Helvetica, sans-serif; }

ul.title-menu {
  text-align: center;
  width: 100%; }

ul.title-menu li {
  display: inline-block;
  margin: 0px 40px; }

ul.title-menu li a {
  display: block;
  background-color: transparent;
  margin: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  width: 80px;
  height: 80px;
  line-height: 76px;
  padding: 0px;
  transition: all 0.2s; }

ul.title-menu li a:hover {
  background-color: #CC6F04;
  border-color: #CC6F04; }

ul.title-menu li a i {
  color: white;
  line-height: inherit; }

ul.title-menu li h3 {
  margin-top: 10px;
  color: white;
  text-transform: uppercase; }

.title-icon {
  color: white; }

.off-color-text {
  color: #CC6F04; }

.intro {
  background: url(http://res.cloudinary.com/dprf86vet/image/upload/v1457247752/W73SJDWQAJ_q5zvrp.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 0 0 100px #000;
  width: 100%;
  height: 100%; }

.intro-text {
  text-transform: uppercase;
  color: White;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 2s; }

.intro-subtitle {
  color: white;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase; }

.intro-hr {
  margin: 50px auto;
  border-style: none;
  border-width: 3px;
  width: 15%;
  height: 3px;
  color: #CC6F04;
  background-color: #CC6F04; }

.about {
  display: block;
  margin: 20px auto;
  max-width: 60%; }

.about-title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px; }

.about-details {
  max-width: 75%;
  margin: 10px auto; }

.about-details p {
  margin: 10px 0px;
  text-align: center; }

.portfolio-title-text {
  text-align: center;
  text-transform: uppercase; }

.nav-link {
  font: 14px/1.3 "Oswald", Helvetica, sans-serif;
  text-transform: uppercase; }

.image-link {
  position: relative;
  display: inline-block; }
  .image-link:hover .overlay {
    opacity: 1; }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.7); }
  .overlay i {
    color: grey; }

.portfolio-item {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  width: 345px;
  max-width: 345px; }

.portfolio-item-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: auto; }

.portfolio-item-text {
  text-align: center;
  text-transform: uppercase; }

.portfolio-item-description {
  text-align: center;
  font-style: italic;
  padding: 0px;
  margin: 0px; }

.navbar-transparent {
  background: transparent; }

.navbar-toggler {
  border-color: transparent; }

.navbar-toggler-icon i {
  color: #0275D8; }

.contact-hr {
  border-color: black;
  max-width: 60%; }

.contact {
  max-width: 70%;
  margin: auto;
  margin-bottom: 10px; }

.contact-details {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 65%; }

.email {
  display: inline-block; }

.social {
  display: inline-block;
  vertical-align: top;
  margin: auto; }

.social-links {
  display: inline-block;
  margin-left: 0px;
  padding: 0px;
  margin-top: 5px; }

ul.social-links li {
  display: inline-block;
  margin-left: 0px; }

ul.social-links li a {
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  text-align: center; }

ul.social-links li a i {
  margin: auto;
  line-height: inherit;
  color: black; }

.row.centered {
  justify-content: center; }

@media screen and (max-width: 992px) {
  ul.title-menu li {
    margin-left: 20px;
    margin-right: 20px; }
  .navbar-transparent {
    position: fixed;
    left: 0%;
    background: rgba(255, 255, 255, 0.82); } }

@media screen and (max-width: 765px) {
  ul.social-links li a {
    width: 30px;
    height: 30px;
    line-height: 30px; }
  ul.social-links li a i {
    font-size: 12px;
    line-height: inherit; }
  .contact {
    max-width: 95%; }
  .contact-details {
    max-width: 90%; }
  .about {
    max-width: 80%; } }

@media screen and (max-width: 445px) {
  ul.title-menu li {
    margin: 20px 15px 0px 15px; }
  ul.title-menu li a i {
    font-size: 1.5em; }
  ul.title-menu li a {
    width: 50px;
    height: 50px;
    line-height: 46px; }
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 18px; }
  h4 {
    font-size: 16px; }
  p {
    font-size: 14px; }
  .portfolio-item {
    width: 245px;
    max-width: 245px; }
  .portfolio-item-image {
    max-width: 200px;
    height: auto; } }

ul.social-links li a:hover {
  background-color: black;
  transition: background-color 0.5s; }

ul.social-links li a:hover i {
  color: white;
  transition: color 0.5s; }
