//------------------------------------------------------------
    //Colours
//------------------------------------------------------------
$white: #FFFFFF;
$black: #000000;
$orange: #CC6F04;
$blue: #003399;
$light-blue: #0033FF;
$light-grey: #D3D3D3;
$grey: #808080;

$link-color: #0275D8;
$link-hover-color: #014c8c;

$text-color: $black;

//------------------------------------------------------------
    //Breakpoints
//------------------------------------------------------------
$slicer-breakpoints: 0px 445px 768px 992px;
$slicer-breakpoint-names: 'xs' 's' 'm' 'l';
