.section {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    &-landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100vh;
        background: url(http://res.cloudinary.com/dprf86vet/image/upload/v1457247752/W73SJDWQAJ_q5zvrp.jpg) center center no-repeat;
        @include background-cover();
        &--heading {
            text-align: center;
        }
        &--scroll-down {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 10px 10px 10px 10px;
        }
    }
    &-about {
        &--heading {
            text-align: center;
        }
        &--article {
            display: block;
            text-align: center;
        }
    }
    &-work {
        &--heading {
            text-align: center;
        }
        &--list {
            text-align: center;
        }
    }
    &-contact {
        &--heading {
            text-align: center;
        }
        &--list {
            text-align: center;
        }
    }
}
